@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    position: absolute;
    width: 100%;
}
header nav{
    display: inline-flex;
    margin-left: 20px;
    align-items: center;
}
header a{
    text-decoration: none;
    color: #fff;
}
header a.logo{
    font-size: 2rem;
    letter-spacing: -3px;
}
header nav a{
    padding: 3px 5px;
    margin: 0 10px;
}
header nav a.active{
    border-bottom: 2px solid #fff;
}
header nav a.red{
    background-color: #D83848;
    color: #fff;
    border-radius: 5px;
    padding: 5px 15px;
}
header div.columns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div.columns > div{
    display: flex;
}
header svg{
    height: 14px; 
    fill: #fff;
}
header div.columns div:nth-child(2) a {
    padding: 3px 5px;
}
header div.columns div:nth-child(2) a:last-child{
    position: relative;
    top: -3px;
}
div.intro{
    padding: 300px 50px 150px;
    background: url(photo/nm8.avif) center center;
    background-size: cover;
}
div.intro nav{
    display: flex;
    align-items: center;
    min-height: 100px;
} 
div.intro nav a{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-family: 'Bebas Neue', sans-serif;
    line-height: 1.2rem;
    transition: all 0.3s ease;
}
div.intro nav a time{
    display: block;
    font-size: 0.8rem;
    text-align: center;
}
div.intro nav a:hover{
    color: #fff;
    font-size: 5rem;
    line-height: 2.3rem;
}
div.intro span.line{
    min-width: 20px;
    width: 100%;
    height: 2px;
    margin: 0 10px 20px;
    background-color: rgba(255, 255, 255, 0.6);
    display: inline-block;
} 
